# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more info about ignoring files.
# Note: Place files/directories to be ignored here
.DS_Store
.idea
log.html
output.xml
report.html
geckodriver.log
.vscode/settings.json
.editorconfig
base64code.cpython-39.pyc
testResult.xml
__pycache__/
*.jpg
*.png